.nav-item .nav-link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.btn.btn-rounded-primary{
  background-color: #00DE9C;
  padding: 0.594rem;
  color: white;
  cursor: pointer;
  border-radius: 6.25rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.title{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--dark-1);
}

.sub-title{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--dark-1);
}

.container-phone-number{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  padding-bottom: 0;
  gap: 10px;
}

.container-phone-number .phone-number{
  font-weight: 700;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: var(--dark-1);
  opacity: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

